<div class="container">
	<h3>All about <%=@user.first_name%></h3>

	<div>
   <h5>All my events:</h5>
    <% @user.events.each do |event| %>
      <p class="event"><%= event.event_name %> on <%= event.start_time%></p>

      <form action="/users/<%=current_user.id%>/events/<%=event.id%>" method="get">
        <!-- <input type="hidden" name="_method" value="put"> -->
        <input type="submit" value="EDIT">
      </form>

      <form action="/users/<%=current_user.id%>/events/<%=event.id%>" method="post">
        <input type="hidden" name="_method" value="delete">
        <input type="submit" value="DELETE">
      </form>
    <% end %>

</div>