<div class="container">
	<h3><%= @event.event_name %></h3>

	<ul>
		<li><%= @event.event_description %></li>
		<li><%= @event.street %></li>
		<li><%= @event.city %></li>
		<li><%= @event.start_time %></li>
	</ul>

	<% if session[:user_id] %>
	<p>
		<form action="/users/<%=session[:user_id]%>/event/<%= @event.id %>" method="post">
		  <input type="hidden" name="_method" value="put">
		  <input type="submit" value="Join the event!">
		</form>
	</p>
	<% end %>
</div>

<div id="map">
<iframe
  width="400"	
  height="350"
  frameborder="0" style="border:0"
  src="https://www.google.com/maps/embed/v1/search?key=ENV['KEY']&q=<%= @event.street%>+<%= @event.city%>+<%=@event.state%>+<%= @event.postcode%>" allowfullscreen>
</iframe>


</div>