<div class="container">
	<h3><%= @event.event_name %></h3>

	<ul>
		<li><%= @event.event_description %></li>
	</ul>
<% if session[:id] %>
	<ul>
		<br><br>Here are the details:<br>
		<li><%= @event.street %></li>
		<li><%= @event.city %></li>

		<br><br>Make sure to get there by:<br>
		<li><%= @event.start_time %></li>
	</ul>

	<p>
		<form action="/users/<%=session[:id]%>/event/<%= @event.id %>" method="post">
		  <input type="hidden" name="_method" value="put">
		  <input type="submit" value="Join the event!">
		</form>
	</p>


	<div id="map">
		<iframe
		  width="100%"	
		  height="350"
		  frameborder="1" style="border:0"
		  src="https://www.google.com/maps/embed/v1/earch?key=<%=MAP_KEY%>&q=<%=@event.street%>+<%=@event.city%>+<%=@event.state%>+<%=@event.postcode%>" allowfullscreen>
		</iframe>
	</div>
<!-- </div> -->

<% else %>
	<!-- </ul> -->
	<br>
	<p>Log in to see details of this event.</p>

	<div id="map">
		<iframe
		width="100%"	
		height="350"
		frameborder="0" style="border:0"
		src="https://www.google.com/maps/embed/v1/search?key=<%=MAP_KEY%>&q=<%= @event.city%>+<%=@event.state%>" allowfullscreen>
		<iframe>
	</div>
<% end %>
<!-- </div -->