<div class="container">
	<h3><%= @events.event_name %></h3>

	<ul>
		<li><%= @events.location %></li>
		<li><%= @events.date %></li>
		<li><%= @events.start_time %></li>
		<li><%= @events.end_time %></li>
		<li><%= @events.host_id %></li>
	</ul>
</div>