<div class="container">
	<h3><%= @event.event_name %></h3>

	<ul>
		<li><%= @event.street%></li>
		<li><%= @event.start_time %></li>
		<li><%= @event.end_time %></li>
	</ul>

	<% if session[:user_id] %>
	<p>
		<form action="/users/<%=session[:user_id]%>/event/<%= @event.id %>" method="post">
		  <input type="hidden" name="_method" value="put">
		  <input type="submit" value="Join the event!">
		</form>
	</p>
	<% end %>

</div>